#GOOGLE_SERVICE_ACCOUNT_JSON=./credentials/gsc-service-account.json
GOOGLE_CLIENT_ID=xxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-xxxx
GOOGLE_REFRESH_TOKEN=xxx

# web server (cmd/server)
SERVER_PORT=8090